@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li {
  @apply px-2;
}
.bg-primary{
  background: black;
}
.bg-secondary{
  background: black;
}





.text-justify {
  text-align: justify;
}
html{
  scroll-behavior: smooth;
}

