@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles.css */
:root {
  --bg-header: #EDF2F8;
  --bg-header1: #FFFFFF;


  --bg-home: #EDF2F8;
  --bg-about: #FFFFFF;
  --bg-projects: #EDF2F8;
  --bg-projectcard: #FFFFFF;

  --bg-skills: #FFFFFF;
  --bg-skillcard: #EDF2F8;

  --bg-contact: #EDF2F8;
  --text-color: #000000;
  --border-color: #000000;
  --primary-bg-color: #ffffff;
  --primary-text-color: #000000;
  --button-border-color: #000000;
  --button-text-color: #000000;

}

.dark {
  --bg-header: #0F1624;
  --bg-header1: #000000;

  --bg-home: #0F1624;
  --bg-about: #1A202C;
  --bg-projects: #0F1624;
  --bg-projectcard: #1A202C; /* Dark theme card background color */
  --bg-skills: #1A202C;
  --bg-contact: #0F1624;
  --text-color: #ffffff;
  --primary-bg-color: #121212;
  --primary-text-color: #ffffff;
  --button-border-color: #ffffff;
  --button-text-color: #ffffff;
  --border-color: #ffffff;
}
#projectcard {
  background-color: var(--bg-skills);
  color: var(--primary-text-color);
}

#projectcard button {
  border: 1px solid var(--button-border-color);
  color: var(--button-text-color);
}

/* SkillCard */
#skillcard {
  background-color: var(--bg-projects);
  color: var(--primary-text-color);
}
#contactform {
  background-color: var(--bg-skills);
  color: var(--primary-text-color);
}



body {
  color: var(--text-color);
}
#header{
  background-color: var(--bg-header);

}
#header1{
  background-color: var(--bg-header1);

}
span{
  border-color: var(--border-color);

}
a {
  color: var(--text-color);
}

a.pb-2 {
  border-color: var(--border-color);
}

button {
  color: var(--text-color);
  border-color: var(--border-color);
}


h1 {
  color: var(--text-color);
}


p {
  color: var(--text-color);
}
#home {
  background-color: var(--bg-home);
}

#about {
  background-color: var(--bg-about);
}

#projects {
  background-color: var(--bg-projects);
}

#skills {
  background-color: var(--bg-skills);
  color: var(--text-color);
  border-color: var(--border-color);


}


#contact {
  background-color: var(--bg-contact);
  border-color: var(--border-color);

}


header ul li {
  @apply px-2;
}
.bg-primary{
  background: black;
}
.bg-secondary{
  background: black;
}
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

body {
  background-color: #ffffff;
  color: #000000;
}





.text-justify {
  text-align: justify;
}
html{
  scroll-behavior: smooth;
}

